@inherits LayoutComponentBase

<div class="page">
    <nav class="navbar navbar-dark px-4 d-flex align-items-center gap-4" style="background-color: #6f42c1; height: 60px;">
        <a class="navbar-brand fw-bold text-white me-4" href="">DublinBikes</a>
        <NavLink class="nav-link text-white fw-semibold" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link text-white fw-semibold" href="station">Stations</NavLink>
        <NavLink class="nav-link text-white fw-semibold" href="Station/Create">New Station</NavLink>
    </nav>
    <main>
        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>
